extends layout

block content
    h1 ShangHai bus info
    div#container
        table
            tr
                th Line
                th Direction
                th Status
            tr
                td 129
                td 0
                td #{status}
            tr
                td 129
                td 1
                td #{status}
            tr
                td 106
                td 0
                td #{status}
            tr
                td 106
                td 1
                td #{status}
