extends layout

block content
    h1 ShangHai bus info
    div#container.col-md-6
        table.table
            tr
                th Line
                th Direction
                th Status
            tr
                td #{status[0].line}
                td 0
                td #{status[0].stopInfo}
            tr
                td #{status[1].line}
                td 0
                td #{status[1].stopInfo}
