doctype html
html
    head
        title= title
        script(src='http://libs.baidu.com/jquery/1.9.0/jquery.js')
        link(rel='stylesheet', href='./stylesheets/style.css')
    body
        block content